[build]
  command = "npm run build"
  publish = "dist" 
  # atau "output/public" jika menggunakan preset nitro yang berbeda

# Paksa Header yang benar untuk file Manifest dan Service Worker
[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"

[[headers]]
  for = "/sw.js"
  [headers.values]
    Content-Type = "application/javascript"

[[headers]]
  for = "/*"
  [headers.values]
    # Cache Control agar user selalu dapat versi terbaru secepatnya
    # Browser akan cache file static (JS/CSS) karena nama filenya ada hash-nya (immutable)
    Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
  for = "/_nuxt/*"
  [headers.values]
    # File JS/CSS hasil build boleh di-cache selamanya (1 tahun)
    Cache-Control = "public, max-age=31536000, immutable"