@import "tailwindcss";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    /* Opsional: Menggunakan font modern */
}

/* HAPUS rule body yang lama. Ganti dengan ini: */
body {
    @apply antialiased font-sans;
    /* Jangan taruh warna text atau bg disini agar tidak bentrok dengan Dark Mode Nuxt UI */
}

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-out;
}

.page-enter-from {
  opacity: 0;
  transform: translateY(10px);
}

.page-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}