@import "tailwindcss";

@theme {
    --font-sans: 'Inter', system-ui, sans-serif;
    /* Opsional: Menggunakan font modern */
}

/* HAPUS rule body yang lama. Ganti dengan ini: */
body {
    @apply antialiased font-sans;
    /* Jangan taruh warna text atau bg disini agar tidak bentrok dengan Dark Mode Nuxt UI */
}